<!DOCTYPE html>
<html lang="fr">
  <head>
		<meta charset='UTF-8'/>
    <link rel="icon" href="/favicon.ico">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/webfont.css">
		<link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
		<div class="page">
      <div class="title-banner" style="background-image: url({{ page.banner-image }});">
        <div class="title-icon" style="background-image: url({{ page.banner-icon }});"></div>
      </div>
			<div class="column">
{% include navigation.html %}

    		<div class="content">
		    	{{ content }}
    		</div>

			</div>
		</div>
  </body>
</html>
